.score {
  background-color: var(--color-very-light-gray);
  border-radius: 10px;
  height: 88px;
  width: 37px;
}

.score__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2px;
  height: 100%;
}

.score__icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  text-align: center;
  height: 30px;
  width: 100%;
}

.score__icon-image {
  pointer-events: none;
}

.score__number {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}