.comment-card {
  margin-bottom: 18px;
}

.comment-card__container {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  display: flex;
  width: 653px;
}

.comment-card__container-item {
  padding: 20px;
}

.comment-card__container-item:nth-child(2) {
  padding-left: 3px;
}

.comment-card__child {
  position: relative;
}

.comment-card__child::after {
  content: '';
  background-color: var(--color-light-gray);
  height: 100%;
  left: 35px;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 2px;
}

.comment-card__childContainer .comment-card {
  display: flex;
    justify-content: flex-end;
}

.comment-card__childContainer .comment-card__container {
  width: 573px;
}

.comment-card__score {
  padding-top: 1px;
  width: 90px;
}

.comment-card__info-item,
.comment-card__userProfile,
.comment-card__reply  {
  align-items: center;
  display: flex;
}

.comment-card__info-item {
  justify-content: space-between;
}

.comment-card__userProfile-name {
  margin-top: 0;
  margin-bottom: 0;
}

.comment-card__userProfile-image {
  margin-right: 14px;
}

.comment-card__reply-text {
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.comment-card__info-content {
  margin-bottom: 0;
}